:root {
    --fondo: #DDD4C3;
    --verde: #00B0A6;
    --amarillo: #FAE471;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@300;400;500;600;700&display=swap');

body{
    background-color: #DDD4C3;
}
.navbar{
    z-index: 2;
    position: sticky;
    top: 0;
}
.bg-green{
    background-color: var(--verde);
}
.navbar-light .navbar-nav .nav-link{
    color: var(--amarillo);
}
.navbar-light .navbar-nav .nav-link:hover{
    color: var(--amarillo);
    font-weight: bolder;
}
.navbar-light .navbar-nav .nav-link:focus{
    color: var(--amarillo);
    font-weight: bold;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250,228,113)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-light .navbar-toggler {
    border-color: rgba(0,0,0,0);
}
ul{
    font-family: 'Roboto', sans-serif;
}
/*Main*/
.main{ 
    padding: 10px;
    background-origin: border-box;
    background-image: url(../res/background-image.png);
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right -20px bottom 0px;
}

.title{
    color: var(--verde);
    display: block;
    text-align: end;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 10em;
}
.title:not(#t20){
    margin-top: -0.9em;
}

.headText{
    padding-top: 3em;
}

.slogan{
    font-family: 'Roboto Slab', serif;
    color: var(--verde);
    font-size: 1.8em;
}
hr{
    border-top: 4px solid var(--amarillo);
}

video{
    margin: 2em 0;
    border-radius: 10px;
}

.card{
    background-color: #0000;
    border: #0000;
}
.card img{
    max-width: 200px;
}
.card-title{
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: var(--verde);
    font-size: 2em;
}
.card-text{
    font-family: 'Roboto', sans-serif;
}

#downloadRow img{
    max-width: 60vw;
    position: relative;
    left: -140px;
}
@media (max-width: 768px) {
    #downloadRow img{
        max-width: 100%;
        justify-self: center;
        position: relative;
        left: 0;
    }
}

.downloadText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.btnDownload{
    background-color: var(--verde);
    color: white;
    width: max-content;
    align-self: center;
    padding: 0.5em 2em;
    border-radius: 10px;
    box-shadow: 0 5px 5px #0004;
    font-size: 1.5em;
    font-family: 'Roboto Slab', serif;
}
.btnDownload:hover{
    position: relative;
    top: 5px;
    box-shadow: 0 0 5px #0004;
}
.subtitle{
    font-size: 0.7em;
}
/*footer*/

li a, li a:hover{
    color: var(--amarillo);
    text-decoration: none;
}
li a:hover{
    font-weight: bold;
}
footer li{
    list-style: none;
    display: inline;
    margin-right: 1em;
    align-items: flex-end;
}
footer ul{
    text-align: right;
}
footer{
    padding: 10px 20px;
    padding-top: 2em;
    background-color: var(--verde);
    border-radius: 20px 20px 0 0;
}


.popup .overlay{
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    background-color: rgba(0,0,0,0.7);
}

.popup .content {
    align-items: center;
    z-index: 4;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    max-width: 80%;
    text-align: center;
    box-sizing: border-box;
}

.popup.active .overlay{
    display: block;
}
.popup.active .content{
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s;
}
.popup img{
    display: block;
    width: 300px;
    max-width: 100%;
}
.carousel{
    width: 100%;
    margin-top: 4em;
    margin-bottom: 4em;
}
